<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet">

        <!-- our stylesheet-->
        <link rel="stylesheet" href="static/styles/main.css">

        <title>Web App Template</title>

    </head>

    <body>
        <div id="sideBar">
            <button id="newDocButton" onclick="createNewDoc()">
                <img src="static/assets/pencil.svg">
                New Document
            </button>

            <div style="width:100%; margin:auto; height:2px; background:var(--dark-transp-blue);margin-bottom:10px"></div>

            <div id="docButtons"></div>
            <button class="signoutButton">Sign out</button>
        </div>
        <div id="docContainer">
            <div id='docPlaceholder'>
                <img src="static/assets/logo-white.png">
                <p>Click on a document or make a new one!</p>
            </div>
        </div>

        <script src="static/scripts/local-storage.js"></script>
        <script src="static/scripts/processing.js"></script>
        <script src="static/scripts/app.js"></script>

    </body>

</html>