:root{
    --font-color: rgb(242,242,247);
    --background:rgb(22,27,34);
    --lighter-gray: rgb(34 42 52);
    --dark-transp-blue: rgb(97,97,103, .3);
    --light-transp-blue:rgb(175,175,185,.3);
    --light-shadow: 0 10px 30px rgb(0,0,50,0.1);
    --pretty-green: rgb(140,223,130);
    --pretty-yellow: rgb(255 216 107);
    --pretty-red:rgb(255 109 109);
    --pretty-purple:rgb(245 152 229);
    --pretty-blue:rgb(98 168 239);
    --navbar-gap: max(12vh,100px);
    --lighter-font-color: rgb(111,111,111);
}


body{
    margin:0;
    background:var(--lighter-gray);
    color:var(--font-color);
    font-family: 'Poppins';
    display: flex;
}

#logoIcon{
    width: 40px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#sideBar{
    width: 250px;
    background: var(--background);
    height: 100vh;
    padding:15px;
}

#sideBar button{
    width: 100%;
    display: block;
    background: transparent;
    color: var(--font-color);
    font-family: 'Poppins';
    transition: .25s;
    outline: none;
    border: none;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom:10px;
}

#sideBar button img{
    vertical-align: middle;
    margin-right: 7px;
    transform: translate(0, -2px);
}

#sideBar button:hover{
    background:var(--lighter-gray);
}


#noSavedDocs{
    margin: 0;
    padding: 10px;
    font-size: 13px;
    opacity: .5;
}

#docContainer{
    padding:30px;
    width: -webkit-fill-available;
}

#docContent{
    outline:none;
    width: 100%;
}

#docContent b, #docContent strong {
    background-color: var(--pretty-green);
    padding:3px;
    padding-left:6px;
    padding-right:6px;
    border-radius: 5px;
    font-weight: 600;
    color:var(--background);
}

.editButton{
    background: none;
    border: 2px solid white;
    outline: none;
    color: white;
    font-family: 'Poppins';
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 20px;
    opacity: .3;
    transition: .25s;
    cursor: pointer;
}

.editButton img{
    vertical-align: middle;
    margin-right: 5px;
}

.editButton:hover{
    opacity: 1;
    border:2px solid var(--pretty-green);
}

#deleteButton:hover{
    border:2px solid var(--pretty-red);
}

#docTitle{
    outline: none;
    font-family: "dm serif text";
    font-size: 30px;
    font-weight: 100;
    background: none;
    color: var(--font-color);
    border: none;
    width: 100%;
    margin-bottom:15px;
}

#docPlaceholder img{
    width: 200px;
    display: block;
    margin: auto;
    opacity: .1;
    margin-bottom: 30px;
    margin-top: 20vh;
}

#docPlaceholder p{
    font-size: 20px;
    text-align: center;
    width: 300px;
    /* font-weight: 600; */
    opacity: .3;
    margin: auto;
}